header {
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a:hover {
  color: #f00;
}
